@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:200,300,400,400i,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

/******* Global ********/
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

img {
  max-width: 100%;
}

/******* Layout ********/
section {
  margin: 200px 0;
}

.section--no-margin {
  margin: 0;
}

.bg {
  padding: 200px 0;
}

.bg--img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.bg--img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.429);
  z-index: 1;
}

.bg .container {
  position: relative;
  z-index: 2;
}
/******* Typography ********/

h1, h2, h3 {
  font-family: 'Merriweather', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 40px;
  padding-top: 20px;
}

h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.479);
  padding-bottom: 40px;
}



/******* Header ********/
header {
  padding: 5px 10px;
  background-color: #08150A;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__cover__page {
  background-color: white;
  
}

.logo__cover__page {
  background-color: black;
}


/******* Navigation ********/
nav {
  font-weight: 400;
}
.nav__list {
  display: flex;
}

.nav__item {
  padding: 5px 10px;
  list-style-type: none;
  color: white;
}

.nav__item__pages a {
  color: black;
}

.nav__item a{
  text-decoration: none;
  color: white;
}

/******* Hero ********/

#hero__cover {
  background-image: url(https://source.unsplash.com/2000x800/?yoga);
}

.hero {
  color: #fff;
  position: relative;
  z-index: 2;
}

.hero__title {
  margin: 0;
  padding: 0;
}

.hero__desc {
  color: #fff;
}


/********* Container ************/

.container__news__events {
  width: 60vw;
  height: 60vh;
}


/********* Icon Component ************/

.icon__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
}

.icon--section {
  display: flex;
  align-items: flex-start;
}

i.icon {
  background: #15B527;
  border-radius: 50%;
  color: #fff;
  height: 65px;
  width: 65px;
  line-height: 65px; 
  text-align: center;
  font-size: 26px;
  margin-right: 25px;
}

.icon--title {
  margin: 0 0 5px;
}

.icon--desc {
  margin: 0;
  padding: 0;
}

.light--desc {
  color:rgba(255, 255, 255, 0.596);
}


/******* Events Section *********/

.container_events {
  background-color: #221c25;
  flex-direction: column;
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.container_event__dates {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 40px;
}

i.event--icon {
  background: #15B527;
  border-radius: 50%;
  color: #fff;
  height: 50px;
  width: 50px;
  line-height: 50px; 
  text-align: center;
  font-size: 26px;
  margin-right: 25px;
}


/****** News And Events *******/
.news--box {
  display: flex;
  border: 2px solid;
}

.news--author {
  font-size: 20px;
  font-weight: 300;
  color: black;
}

.news--link {
  text-decoration: none;
  color: #EE2A74;
  font-size: 20px;
}

/****** image gallery ******/
.img-gallery {
  display: flex;
}

.img-gallery__left {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.img-gallery__right {
  display: flex;
  flex: 1;
}

.img-gallery__left .img-gallery__photo {
  flex-basis: 50%;
}

.img-gallery__right .img-gallery__photo {
  flex-basis: 100%;
  height: 100%;
}

.img-gallery__photo {
  background-image: url("https://source.unsplash.com/1000x1000/?yoga");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
}

/********* Testimony Section *******/

.testimony {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.lg_font {
  font-size: 25px;
}

.desc_width {
  width: 30vw;
}


/********* Upgrade Profile *********/

#sales__cover {
  background-image: url(https://source.unsplash.com/2000x800/?yoga);
}

.sale_title {
  color: #1BC7B4;
  font-size: 30px;
}
.sale_box {
  background-color: #221C25;
  width: 30vw;
  height: 40vh;
  color: white;
  align-content: center;
}

.sale_box_title {
  padding-top: 20px;
  font-size: 70px;
  text-align: center;
}

/******* footer Section ********/

footer {
  background-color: #221C25;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 300px;
}

.logo__footer {
  background-color: #221C25;
}

.nav__item__footer {
  padding: 40px 20px;
  border-top: 2px solid rgba(128, 128, 128, 0.342);
  border-bottom: 2px solid rgba(128, 128, 128, 0.342);

}

.nav__item__footer:hover a {
  background-color: #FF3481;
  transition: .5s ease;
}

/*********** Footer Social Media and Icons ***********/

.icon__button {
  font-size: 24px;
  display: inline-block;
  margin: 11px 25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
}

.icon__button i {
  line-height: 30px;
  font-size: 15px;
}

.icon__button:hover {
  transform: translate(0,-10px)
}

.icon__facebook {
  color: white;
  background-color: #315EB2;
}

.icon__twitter {
  color:white;
  background-color: #2FA7FF;
}

.icon__instagram {
  color: white;
  background-color: #FF3481;
}

.icon__youtube {
  color: white;
  background-color: #F03140;
}

/****** Utilities ******/


.text--light {
  color: white;
}

.desc {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: white;
}

.btn {
  color: #fff;
  border-radius: 10px;
  padding: 20px 60px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.btn:focus, .btn:active {
  outline: none;
}

.btn--lg {
  padding: 25px 80px;
}

.btn--primary {
  /* margin-top: 50px; */
  background: #F03140;
}

.btn--primary:hover {
  background: #C3202C;
}

.btn--gradient {
  background: linear-gradient(225deg, #FF3481, #FF3444);
}

.btn--gradient:hover {
  background: linear-gradient(225deg, #EE2A74, #E72A38);
}


.font--light {
  color: white;
  font-size: 30px;
  font-weight: 400;
  
}

.center--title {
  text-align: center;
}
