@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

/******* Header ********/
header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #08150A;
}

.header__cover__page {
  background-color: white;
  
}

.logo__cover__page {
  background-color: black;
}

.logo {
  color: white;
  padding: 20px;
}

/******* Navigation ********/
nav {
  font-weight: 400;
}
.nav__list {
  display: flex;
}

.nav__item {
  padding: 5px 10px;
  list-style-type: none;
  color: white;
}

.nav__item__pages a {
  color: black;
}

.nav__item a{
  text-decoration: none;
  color: white;
  justify-content: space-between;
}

/******* Hero Section ********/

.hero {
  background-color: #08150A;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.hero__cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 40vh;
  background-color: violet;
}

.centered__content {
  width: 30vw;
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.hero__desc {
    padding-bottom: 40px;
}

.button {
  background: #FF3481;
  color: white;
  border-radius: 10px;
  padding: 15px 50px;
  text-decoration: none;
}

/********* Container ************/
.container_icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.container_event__dates {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

/******* Events Section *********/

.container_events {
  background-color: #221c25;
}


/****** Flex for service grid *******/
.flex {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.flex .col {
  display: flex;
  flex-flow: column;
}


.col .one {
  flex: 1;
}

.col .two {
  flex: 1;
}

.col {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.row {
  display: flex;
  flex-flow: row;
  flex: 1;
}

.col_row {
  display: flex;
  flex-flow: column;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
}


/********* Testimoney Section *******/

.testimony {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.lg_font {
  font-size: 25px;
}

.desc_width {
  width: 30vw;
}



/********* Upgrade Profile *********/

.bckg-color {
  background-color: #2C2530;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70vh;
}

.sale_box {
  background-color: #221C25;
  width: 30vw;
  height: 40vh;
  color: white;
}

.sale_title {
  color: #1BC7B4;
  font-size: 30px;
  padding-bottom: 30px;
}

.sale_box_title {
  padding-top: 20px;
  font-size: 70px;
  text-align: center;
}

.p_light {
  color: white;
  font-size: 30px;
}

.sale_button {
  margin-top: 50px;
  padding: 25px 80px;
  background: #FF3481;
  color: white;
  border-radius: 10px;
  text-decoration: none;
}


/******* footer Section ********/

footer {
  background-color: #221C25;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 100px 300px;
}

.logo__footer {
  background-color: #221C25;
}

.nav__item__footer {
  padding: 40px 20px;
  border-top: 2px solid rgba(128, 128, 128, 0.342);
  border-bottom: 2px solid rgba(128, 128, 128, 0.342);

}

.nav__item__footer:hover a {
  background-color: #FF3481;
  transition: .5s ease;
}

/*********** Footer Social Media and Icons ***********/

.icon__button {
  font-size: 24px;
  display: inline-block;
  margin: 11px 25px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
}

.icon__button i {
  line-height: 30px;
  font-size: 15px;
}

.icon__button:hover {
  transform: translate(0,-10px)
}

.icon__facebook {
  color: white;
  background-color: #315EB2;
}

.icon__twitter {
  color:white;
  background-color: #2FA7FF;
}

.icon__instagram {
  color: white;
  background-color: #FF3481;
}

.icon__youtube {
  color: white;
  background-color: #F03140;
}

/****** Utilities ******/

h1 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 50px;
  padding-bottom: 40px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.479);
  padding-bottom: 40px;
}

.h1_white {
  color: white;
}


.desc {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  color: white;
}